[submodule "modules/meterpreter"]
	path = modules/meterpreter
	url = https://github.com/audibleblink/meterpreter
[submodule "modules/CursedScreech"]
	path = modules/CursedScreech
	url = https://github.com/sud0nick/CursedScreech
[submodule "modules/HackRF-Module"]
	path = modules/HackRF-Module
	url = https://github.com/Foxtrot/HackRF-Module
[submodule "modules/l33tpass"]
	path = modules/l33tpass
	url = https://github.com/linkslice/l33tpass
[submodule "modules/evilportal-templates"]
	path = modules/evilportal-templates
	url = https://github.com/kbeflo/evilportal-templates
[submodule "modules/PortalAuth"]
	path = modules/PortalAuth
	url = https://github.com/sud0nick/PortalAuth
[submodule "modules/WallOfSheep"]
	path = modules/WallOfSheep
	url = https://github.com/kirinrastogi/WallOfSheep
[submodule "gl.inet/gl-ar150-pineapple-firmware-builder"]
	path = gl.inet/gl-ar150-pineapple-firmware-builder
	url = https://github.com/KhasMek/gl-ar150-pineapple-firmware-builder
[submodule "official/openwrt-pineapple-nano"]
	path = official/openwrt-pineapple-nano
	url = https://github.com/WiFiPineapple/openwrt-pineapple-nano
[submodule "gl.inet/pineapple-ar150"]
	path = gl.inet/pineapple-ar150
	url = https://github.com/SecurityAddicted/pineapple-ar150
[submodule "modules/burppineapple"]
	path = modules/burppineapple
	url = https://github.com/tommiionfire/burppineapple
[submodule "gl.inet/glinetpineapple"]
	path = gl.inet/glinetpineapple
	url = https://github.com/gopher2/glinetpineapple
[submodule "modules/YMail-Pineapple"]
	path = modules/YMail-Pineapple
	url = https://github.com/JordanMilne/YMail-Pineapple
[submodule "hostapd/hostapd-mana"]
	path = hostapd/hostapd-mana
	url = https://github.com/adde88/hostapd-mana
[submodule "hostapd/hostapd-mana-openwrt"]
	path = hostapd/hostapd-mana-openwrt
	url = https://github.com/adde88/hostapd-mana-openwrt
[submodule "hostapd/hostapd-wpe-openwrt"]
	path = hostapd/hostapd-wpe-openwrt
	url = https://github.com/TarlogicSecurity/hostapd-wpe-openwrt
[submodule "warez/mkiv_pineapple_ui"]
	path = warez/mkiv_pineapple_ui
	url = https://github.com/HacDan/mkiv_pineapple_ui/
[submodule "warez/web-interface"]
	path = warez/web-interface
	url = https://github.com/PenturaLabs/web-interface/
[submodule "warez/MK5_Interface"]
	path = warez/MK5_Interface
	url = https://github.com/zigrab/MK5_Interface/
[submodule "tools/python-pineapple"]
	path = tools/python-pineapple
	url = https://github.com/735tesla/python-pineapple
[submodule "tools/wp6"]
	path = tools/wp6
	url = https://github.com/hak5darren/wp6
[submodule "warez/Pineapple-Confs"]
	path = warez/Pineapple-Confs
	url = https://github.com/PenturaLabs/Pineapple-Confs
[submodule "tools/PineappleSetupGui"]
	path = tools/PineappleSetupGui
	url = https://github.com/phpsystems/PineappleSetupGui
[submodule "warez/Pineapple"]
	path = warez/Pineapple
	url = https://github.com/RealSoap/Pineapple
[submodule "official/openwrt-pineapple-tetra"]
	path = official/openwrt-pineapple-tetra
	url = https://github.com/WiFiPineapple/openwrt-pineapple-tetra
